<html>
<header>
    <title>Loading</title>
</header>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/loading.css" />
</head>
<script type="text/javascript">
    function loadPage() {
        const form = document.createElement('form');
        form.method = 'post';
        form.action = "{{url_for('report')}}";

        var params = ["{{data.search}}".replace("amp;", ""), "{{data.count}}", "{{data.scores}}"];
        var names = ["search", "count", "scores"];
        for (const key in params) {
            if (params.hasOwnProperty(key)) {
                const hiddenField = document.createElement('input');
                hiddenField.type = 'hidden';
                hiddenField.name = names[key];
                hiddenField.value = params[key];
                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }
</script>

<body onload="loadPage();">
<div class="center">
    <div class="msg">
        <!--- Spinning Loading GIF Goes here --->
        <!---<img src="/static/images/activity.gif" alt="Please Wait...">--->
        <div id="bonfire-pageloader">
            <div class="bonfire-pageloader-icon">
                <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg"
                    stroke="#808080">
                    <g fill="none" fill-rule="evenodd">
                        <g transform="translate(1 1)" stroke-width="2">
                            <circle stroke-opacity=".5" cx="18" cy="18" r="18" />
                            <path d="M36 18c0-9.94-8.06-18-18-18">
                                <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18"
                                    dur="1s" repeatCount="indefinite" />
                            </path>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <div
style="color: #807c7c; padding-top: 15px; margin-left:auto; margin-right:auto; font-size: 1em;font-family: 'Source Sans Pro', sans-serif;">
The report is loading. It may take up to 30 seconds.
</div>
</div>

</body>

</html>